.contact-page {
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 20px;
    max-width: 1200px;

}

/* Kártya alapstílus */
.card {
    padding: 30px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card h2,
.card h3 {
    margin-top: 0;
    font-size: 22px;
    font-weight: bold;
}

/* Színek */
.dark-blue {
    background-color: #002b5c;
    color: white;
}

.red {
    background-color: #e20613;
    color: white;
}

.grey {
    background-color: #e6e9ee;
    color: #002b5c;
}

/* Telefonszámos kártya egyedi stílusa */
.phone-list {
    background-color: #002b5c;
    color: white;
    padding: 30px;
}

.phone-row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    font-size: 14px;
    justify-items: center;
}
.phone-icon{
    width: 30px;
}

.phone-row:last-child {
    border-bottom: none;
}

/* Ikonok körei */
.icon-circle {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.icon-in-circle {
    width: 35px;
}

.red-icon {
    background-color: #e20613;
    color: white;
}

/* Gombok */
.btn {
    margin-top: auto;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.btn.dark {
    background-color: #002b5c;
    color: white;
}

.btn.red-btn {
    background-color: #e20613;
    color: white;
}

.btn:hover {
    transform: translateY(-2px);
}

/* Keresőmező a szürke kártyán */
.search-box {
    position: relative;
    margin-top: 15px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-btn {
    width: 25px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.small-text {
    font-size: 13px;
    margin-top: 20px;
    opacity: 0.8;
}

/* --- RESPONZÍV MOBIL NÉZET --- */
@media (max-width: 1100px) {
    .contact-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 oszlop tableten */
    }
}

@media (max-width: 768px) {
    .contact-grid {
        grid-template-columns: 1fr;
        /* 1 oszlop mobilon */
    }
}